extends layout

block content
  .container
    .row
      .col-md-6.offset-3.box-container
        h4.text-muted Express y MongoDB
        h2 Jquery & Mongoose
        .description-challenge
          p Hola Maker,
          p Tu misión en este reto es implementar un formulario de registro que almacene los datos en MongoDB.
          p El usuario debe ser capaz de enviar los datos y si estos son guardados exitosamente debe ocultar el formulario y mostrar una tabla con los datos almacenados.
          p Para esto tienes que construir un API utilizando Express & Mongoose que permita conectar nuestra aplicación Frontend (jQuery) con la base de datos (MongoDB).
          p Recuerda que debes usar la codificación de formato JSON para lograrlo
          p Nota: No es requerido hacer validaciones
          p Plus: Agregar encriptación a la contraseña utilizando la librería bcrypt
          p Muchos éxitos!

