doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon" type="image/png" href="https://img.icons8.com/carbon-copy/100/000000/add-user-male.png" sizes="16x16")
    title= "Register App"
    block scripts
      script(src='/js/jquery.min.js')
      script(src='/js/popper.js')
      script(src='/js/bootstrap.min.js')
  body
    nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
      a(class="navbar-brand" href="/") App Challenge
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation") #[span(class="navbar-toggler-icon")]
      div(class="collapse navbar-collapse" id="navbarNav")
        ul.navbar-nav
          li.nav-item
            a(class="nav-link" href="/users/register") Register User #[span.sr-only (current)]
          li.nav-item
            a(class="nav-link" href="/users") View users
          li.nav-item
            a( class="nav-link" href="https://icons8.com/icon/3eNWNacag1A8/añadir-usuario-masculino") icon by Icons8
    .page-wrap
      block content
    footer.site-footer
      .credits.d-flex.justify-content-center
        p.text-white.align-self-center Challenge developed by Diego Armando Cárdenas &copy;
